div {
  border: 20px solid #000;

  display: inline-block;
  min-width: 20em;
  min-height: 25em;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
